:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #b5c34c;
  text-decoration: inherit;
}
a:hover {
  color: #8e983c;
}

body {
  margin: 0;
  min-height: 100vh;
  background: rgb(61,34,82);
  background: linear-gradient(0deg, rgba(61,34,82,1) 0%, rgba(36,36,105,1) 50%, rgba(18,10,61,1) 100%);
  color: #fff;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
